<h1>New Project</h1>
<% # The partial's name is write without symbol 'underscore'.
   # In this case is passed too the instance variable @Project to the partial 
   # Other way to call a partial is: render 'partials/sidebar'
%>
<%= render "form", project: @project %>
